* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  font-family: 'Comfortaa';
  background: url(../img/bg.jpg) 0 0 no-repeat scroll; }

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-row: 1fr 2fr;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px; }

.header {
  justify-items: center;
  text-align: center;
  padding: 20px; }
  .header h2 {
    color: #fff;
    font-size: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

h1 {
  color: #fff;
  font-size: 86px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.content {
  display: -ms-grid;
  display: grid;
  justify-items: left;
  padding: 20px 80px;
  min-height: 100%;
  background-color: #fff; }
  .content a {
    color: black; }

.button {
  width: 50%;
  margin: 20px 0;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px; }
  .button:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); }

.lab {
  display: -ms-inline-grid;
  display: inline-grid;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  background: #DF0000;
  font-size: 24px;
  color: #fff;
  border-radius: 10px; }
  .lab:hover {
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black; }

.fast {
  font-size: 16px;
  margin-bottom: 10px;
  width: 33,33%; }

progress {
  width: 25%;
  height: 15px; }

img {
  margin: 20px 0;
  border: 1px solid #000;
  display: block;
  max-width: 40%; }
