@import "null.scss";// Обнуление

$fz:24px;

body {
	font-family: 'Comfortaa';
	background: url(../img/bg.jpg);
}

.wrapper {
	display: grid;
	grid-template-row: 1fr 2fr;
	margin-right: auto; 
	margin-left:  auto;
	max-width: 1200px;
}
.header {
	justify-items: center;
	text-align: center;
	padding: 20px;
	h2 {
		color: #fff;
		font-size: 32px;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
}
h1 {
	color: #fff;
	font-size: 86px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content {
	display: grid;
	justify-items: left;
	padding: 20px 80px;
  	min-height: 100%;
	background-color: #fff;
	a {
		color: black;
	}
}

.lab {
	display: inline-grid;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	background: #DF0000;
	font-size: 24px;
	color: #fff;
	border-radius: 10px;
	&:hover {
		box-shadow: 0 0 10px rgba(0,0,0,1)
	}
}
.progress{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	width: 100%;
	progress{
		min-height: 25px;
		min-width: 40%;
	}
	.button {
		width: 50%;
		font-size: $fz;
		padding: 10px;
		border-radius: 10px;
		&:hover {
			box-shadow: 0 0 10px rgba(0,0,0,0.6)
		}
	}
}
.fast {
	font-size: 16px;
	width: 50%;
}

img {
	margin: 20px 0;
	border: 1px solid #000;
	display: block;
	max-width: 40%;
}
